/* home.html */

#headerDiv {
	float: left;
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	width: auto;
	border: #734d99 solid 1px;
}

#mainDiv {
	clear: both;
	float: left;
	position: absolute;
	top: 105px;
	left: 5px;
	width: auto;
	border: #734d99 solid 1px;
	min-height: 70%;
	min-width: 60%;
}

#menuDiv {
	float: right;
	position: relative;
	top: 105px;
	right: 5px;
	border: #734d99 solid 1px;
	min-height: 70%;
	min-width: 30%;
	width: auto;
}

#footerDiv {
	clear: both;
	float: left;
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	width: 100%;
	border: #734d99 solid 1px;
	min-height: 50px;
	max-height: 50px;
	margin: auto auto;
	
}

